__pycache__
*.pyc
.env
.git
.gitignore
.pytest_cache
.coverage
htmlcov
testresults.xml
*.egg-info
dist
build
*.egg
*.whl
*.log
*.db
*.sqlite3
*.pyo
*.pyd
*.swp
*.bak
*.tmp
*.DS_Store
*.vscode
*.idea
*.ipynb_checkpoints
*.coverage.*
*.mypy_cache
*.pytest_cache
*.tox
