__pycache__
node_modules
sfm_data

# Build artifacts
SFM_Graph_Service.egg-info
*.egg-info
.coverage*
*coverage*
coverage
.coverage
dist
build
*.egg
*.whl
*.tar.gz
*.zip
.cache
htmlcov
.coverage/*
.cache/*
htmlcov/*
*.pyc
*.pyo
*.pyd
*.pdb